html {
    font-family: "Noto Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    background-color: #FFF;
    height: 110px;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 8%;
}

.topnav {
    background-color: #FFF;
    overflow: hidden;
    height: 60px;
    margin-left: auto;
}


.topnav_a {
    display: inline-block;
    color: #000;
    text-align: center;
    line-height: 54px;
    width: 127px;
    height: 60px;
    font-size: 20px;
    border: solid 3px #0b5917;
    margin-right: 50px;
    box-sizing: border-box;
	transition: all 0.5s ease;
    text-decoration: none;
}
  

.topnav_a:hover {

    font-weight: bold;


}

.active_page {
    display: inline-block;
    text-align: center;
    line-height: 54px;
    width: 127px;
    height: 60px;
    font-size: 20px;
    margin-right: 50px;
    box-sizing: border-box;
	transition: all 0.5s ease;
    text-decoration: none;
    background-color: #0b5917;
    color: #FFF;
    border: solid 3px black;
}

.active_page:hover {
    font-weight: bold;
}


.hero_long {
    background-image: url("images/hero_kontakt.jpg");
    width: 100%;
    height: 690px;
    margin-top: 110px;
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}


.hero_short {
    background-image: url("images/hero_kontakt.jpg");
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 110px;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

h1 {
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #0b5917;
    font-size: 110px;
    display: flex;
    margin: auto;
}

h2 {
    margin-top: 2%;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}


.scroll_down_btn {
    margin: auto;
    width: 60px;
    height: 60px;
    background-image: url(images/scroll_down_btn.svg);
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    scroll-behavior: smooth;
	transition: all 0.5s ease;
}

.scroll_down_btn:hover {
    background-image: url(images/scroll_down_btn_hover.svg);
    cursor: pointer;
}

.content {
    background-image: url("test.jpg");
    width: 100%;
    height: 1000px;
}



/*FORMULARZ*/
.form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: solid 3px #0b5917;
    overflow: hidden;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea {
    width: calc(100% - 10px);
    padding: 4px;
    margin-bottom: 15px;
    border: 1px solid #0b5917;
    font-size: 17px;
}

input[type="file"]:hover {
    cursor: pointer;
}


textarea {
    resize: vertical;
    min-height: 60px;
    max-height: 200px;
}

button {
    background-color: #0b5917;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    float: right;
    font-size: larger;

}

.accept-regulations input[type="checkbox"] {
    margin: 0;
}

.accept-regulations input[type="checkbox"]:hover {
    cursor: pointer;
}


button:hover {
    background-color: #0b3517;
	transition: all 0.5s ease;

}

.accept-regulations {
    float: left;
}

.regulamin {
    text-decoration: underline;
    color: #000;
}

.regulamin:visited {
    color: #000;
}





/*FOOTER*/
.footer{
    width: 100%;
    height: 200px;
    background-color: #0b5917;
    margin-top: auto;
    padding-top: 3%;
}

.logo_footer {
    margin-left: 10%;
}