html {
    font-family: "Noto Sans", sans-serif; !important;
}

body {
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    background-color: #FFF;
    height: 110px;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 8%;
}

.topnav {
    background-color: #FFF;
    overflow: hidden;
    height: 60px;
    margin-left: auto;
}


.topnav_a {
    display: inline-block;
    color: #000;
    text-align: center;
    line-height: 54px;
    width: 127px;
    height: 60px;
    font-size: 20px;
    border: solid 3px #0b5917;
    margin-right: 50px;
    box-sizing: border-box;
	transition: all 0.5s ease;
    text-decoration: none;
}
  

.topnav_a:hover {
    background-color: #CECECE;
}

.active_page {
    display: inline-block;
    text-align: center;
    line-height: 54px;
    width: 127px;
    height: 60px;
    font-size: 20px;
    margin-right: 50px;
    box-sizing: border-box;
	transition: all 0.5s ease;
    text-decoration: none;
    background-color: #0b5917;
    color: #FFF;
    border: solid 3px black;
}

.active_page:hover {
    background-color: #0b3517;
    color: #CECECE;
}


.hero_long {
    background-image: url("images/hero_kontakt.jpg");
    width: 100%;
    height: 690px;
    margin-top: 110px;
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}


.hero_short {
    background-image: url("images/hero_kontakt.jpg");
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 110px;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

h1 {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #0b5917;
    font-size: 110px;
    font-weight: bold;
    display: flex;
    margin: auto;
}

h2 {
    margin-top: 2%;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}


.scroll_down_btn {
    margin: auto;
    width: 60px;
    height: 60px;
    background-image: url(images/scroll_down_btn.svg);
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    scroll-behavior: smooth;
	transition: all 0.5s ease;
}

.scroll_down_btn:hover {
    background-image: url(images/scroll_down_btn_hover.svg);
    cursor: pointer;
}

.content {
    background-image: url("test.jpg");
    width: 100%;
    height: 1000px;
}



/*FORMULARZ*/
.form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: solid 3px #0b5917;
    overflow: hidden;
}

.form label {
    margin-bottom: 5px;
}

.form input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea {
    width: calc(100% - 10px);
    padding: 4px;
    margin-bottom: 15px;
    border: 1px solid #0b5917;
    font-size: 17px;
}

input[type="file"]:hover {
    cursor: pointer;
}


textarea {
    resize: vertical;
    min-height: 60px;
    max-height: 200px;
}

.form button {
    background-color: #0b5917;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    float: right;
    font-size: larger;

}


.form button:hover {
    background-color: #0b3517;
	transition: all 0.5s ease;

}



.accept-regulations input[type="checkbox"] {
    margin: 0;
}

.accept-regulations input[type="checkbox"]:hover {
    cursor: pointer;
}



.accept-regulations {
    float: left;
}

.regulamin {
    text-decoration: underline;
    color: #000;
}

.regulamin:visited {
    color: #000;
}





/*FOOTER*/
footer a {
  color: #FFFFFF;
  text-decoration: none;
}

footer a:hover {
    color: #CECECE;
	transition: all 0.5s ease;
}

footer li {
  list-style: none;
}

footer input {
  position: relative;
  height: 100%;
}

footer input[type="email"] {
    margin-bottom: 0;
    height: 20px;
  padding: 7px 8px;
  border: 1px solid #000000;
    /*background-color: red;*/
}

footer input[type="email"]:focus {
    outline: none;
}


footer input[type='submit'] {
    padding: 7px 12px;
    background: #0b3517;
    color: #FFFFFF;
    border: 1px solid #000000;
    cursor: pointer;
    height: 35px;
}

footer input[type='submit']:hover {
    background-color: #0b2517;
    transition: all ease 0.5s;
}


footer main {
  flex: 1;
}

footer {
    bottom: 0;
    background-color: #0b5917;
    color: #FFFFFF;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


footer .info {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0b3517;
}

footer .info .legal {
  display: flex;
  flex-wrap: nowrap;
}

footer .info .legal > a {
  margin-right: 15px;
}


footer .social {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

footer .social i {
  font-size: 1.4rem;
  margin: 2px 8px;
  cursor: pointer;
}

footer .social:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 1px;
  background: #FFFFFF;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


footer .top {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

footer .top .pages {
  display: flex;
  flex-direction: row;
}

footer .top .pages ul {
  margin: 20px;
}

footer .top .pages ul li {
  margin: 5px;
}

footer .newsletter h3 {
  margin-bottom: 10px;
}
footer .newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  footer .top {
    flex-direction: column;
  }
  footer .top .newsletter {
    padding-top: 1rem;
  }
  footer .top .pages ul {
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  footer .top .pages {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  footer .info {
    flex-direction: column;
  }

  footer .info > .copyright {
    margin-top: 10px;
  }
}

@media screen and (max-width: 380px) {
  footer .top .pages {
    justify-content: center;
    flex-direction: column;
  }

  footer .info .legal {
    justify-content: center;
  }

  footer .info .legal a {
    margin: 0;
    text-align: center;
  }
}
